/*&&>> Core Stylesheet <<&&*/

* {
  margin: 0;
  padding: 0;
  }

body {
	}

/*&&&&&>> Typography <<&&&&&*/


/*&&&&&>> Navigation <<&&&&&*/


/*&&>> Two <<&&*/

ul.two {
	background: #e8e8e8 url(/Themes/default/navbar/background.png) repeat-x top center;
	padding: 20px 0 0 75px;
	height: 30px;
	}

ul.two li {
	background: url(/Themes/default/navbar/sprite.png) no-repeat right 5px;
	display: block;
	float: left;
	height: 30px; /* height of 1 unit */
	padding: 0 2px 0 0;
	margin: 0 3px 0 0;
	width: auto;
	}

ul.two li a:link,ul.two li a:visited {
	background: url(/Themes/default/navbar/sprite.png) no-repeat top left;
	color: #000;
	display: block;
	font: 12px/25px "Trebuchet MS",verdana,sans-serif;
	margin: 5px 0 0 0;
	padding: 0 0 0 3px;
	text-decoration: none;
	height: 25px;
	}

ul.two li a:link span,ul.two li a:visited span {
	background: url(/Themes/default/navbar/sprite.png) no-repeat top right;
	padding: 0 28px 0 25px;
	display: block;
	height: 25px;
	}

ul.two li a:hover {
	background-position: left -50px !important;
	margin: 0;
	height: 30px;
	}

ul.two li a:hover span {
	background-position: right -50px !important;
	height: 30px;
	}

.home .two .home {
	background-position: left -25px !important;
	margin: 5px 0 0 0;
	height: 25px;
	}

.home .two .home span {
	background-position: right -25px !important;
	height: 25px;
	}

/*&&>> Hacks! <<&&*/

* html ul li a {
	width: 1px;
	}

/*&&>> IE5 Mac Hack <<&&*/
/*\*//*/
.menu ul li a {
	display: inline-block;
	white-space: nowrap;
	width: 1px;
	}
.menu ul {
	padding-bottom: 0;
	margin-bottom: -1px;
	}
/**/